<!--<h3 class="grid-header" ng-click="magellanSelector.isCollapsed = !magellanSelector.isCollapsed;">Magellan Scores<span class="pull-right">:</span></h3>-->
<h3 class="subtitle">Magellan Scores</h3>

<div uib-collapse="magellanSelector.isCollapsed">
    <form name="magellanSelector">
        <ts-busy tracker="magellanMapsTracker">
            <label for="selectMagellanMap">
                Map Date: 
                <span ng-if="magellanSelector.emptyMagellan">No Magellan Maps</span>
            </label>
            <md-input-container ng-if="!magellanSelector.emptyMagellan">
                <md-select ng-model="magellanSelector.selectedMagellanInstance">
                    <md-select-header>
                        <span> Map Date: </span>
                    </md-select-header>
                    <md-option ng-value="map" ng-repeat="map in magellanSelector.magellanInstances track by map.id">{{ map.name }}</md-option>
                </md-select>
            </md-input-container>
        </ts-busy>
    </form>
    <ts-busy tracker="magellanMapsTracker">
        <ts-busy tracker="magellanMapTracker">
            <div ng-if="radarData.data[0]" radar-directive data="radarData"></div>
        </ts-busy>
    </ts-busy>
</div>