.ts-switch {
  display: inline-block;
  margin-top: -4px;
  
  label {
    font-size: 12px;
    font-family: @secondary-font;
  }

  button {
    padding: 8px 21px;
  }

  .ts-switch-on {
    background-color: @apigee-orange;
    border: 1px solid transparent;
  }
}