body {
  font-weight: 300;
  padding-top: 42px;
}

.narrow-body {
  .content {
  	max-width: 1280px;
  	margin: 0 auto;
  }
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

a {
  cursor: pointer;
}

input, a {
  &:hover, &:focus {
  outline: none;
  }
}

#navbar-spacer {
  height: 42px;
}

#navbar-sm-spacer {
  height: 58px;
}

.container, .container-fluid {
  width: 100%;
  padding: 0;
  background-color: #F5F5F6;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.content {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
}


ul.nav-tabs.nav-justified {
  border-bottom: #d0d3d4 1px solid;

  li > a {
  border: #d0d3d4 1px solid;
    margin-left: 2px;
    margin-bottom: -1px;
    border-radius: 2px;
  }
}

.site-header > a {
  line-height: 46px;
  font-family: @primary-font;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  color: #c2c2c2;
  margin-right: 30px;
  font-weight: 400;

  &.active-header {
  color: @apigee-orange;
  }

  span.title-brackets {
  font-size: 25px;
  vertical-align: -2px;
  font-weight: 400;
  color: #EE5425;
  }

  &:hover, &:focus {
    text-decoration: none;
  }
}

.navbar {
  top: 0;
  position: fixed;
  width: 100%;
}

.navbar-brand {
  float: none;
}

.navbar-brand.navbar-brand-apigee {
  position: relative;
  margin-right: 0;
  background-size: 60px 25px;

  span.spacer {
    height: 16px;
    width: 1px;
    background-color: #fc4c02;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-left: 15px;
  }
}
.popover {
  min-width: 400px;
}

#livechat-compact-container {
  left: 10px !important;
}

#livechat-full {
  left: 10px !important;
}
#daily-traffic {
  text-align:right;

}

@media only screen and (max-width: @grid-float-breakpoint) {
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  .mobileSearch {
    float: none;
    .search-field {
      float: none;
      margin-left: 0px;
    }
  }
  body {
    font-size: 16px;
    padding-right: 0px !important;
  }
  #livechat-compact-container {
    display: none;
  }
  .modal-open {
    overflow-y: auto;
  }
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.grid-header, .grid-header->a {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: green;
  color: white;
  padding: 7px 12px 7px 12px;
  margin-top: 0px;
  border: 1px solid rgb(208, 211, 212);
  border-top-color: white;
  border-bottom-width: 2px;
}

.myGrid {
  //margin-bottom: 20px;
}

.ui-grid-cell-contents {
  font-size: 12.5px;
  font-weight: 200;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: white;
}


.page-header {
  padding: 20px 0 5px 0;
  background-color: @heading-background;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 14px;

  .btn-group {
    margin-right: 20px;
  }

  &.no-padding-bottom {
    padding-bottom: 0;
  }

  h1 {
    font-family: @primary-font;
    font-size: 31px;
    color: #ffffff;
    margin: 0;
    padding-top: 0;
    font-weight: normal;
    margin-bottom: 0;
  }

  h4 {
    color: white;
    font-family: @primary-font;
    font-size: 15px;

    .cards-grid-toggle { top: 0; }
  }

  .header-tabs {
    .nav-tabs {
      margin-top: 10px;
      border-bottom: none;

      & > li {
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }
      }

      & > li > a {
        background-color: transparent;
        font-family: @primary-font;
        font-size: 13px;
        color: #999;
        text-transform: uppercase;
        padding: 0 10px 19px 10px;
      }

      & > li.active {
        & > a, & > a:focus {
          color: white;
          border: none;
          border-bottom: 4px inset white;
          }
        }
      }
    }
  }

.subtitle {
  font-family: @secondary-font;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: @apigee-orange;
  padding-bottom: 20px;
  margin-bottom: 10px;

  &:focus {
    outline: none;
  }

  &.underlined {
    border-bottom: 1px solid #dadada;
  }

  .fa {
    color:#999;
    margin-right: 10px;
  }
}

.back-link {
  font-family: @primary-font;
  font-size: 16px;
  color: #999;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;

  &::before {
    font-family: FontAwesome;
    content: "\f060\0020 ";
  }
}

.btn {
  font-size: 12px;
  padding: 5px 7px;
}

.btn-default {
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #999;
  color: #999;
  background-image: none;
  font-weight: bold;
}

.apigee-btn {
  font-weight: 600;
  font-family: @secondary-font;
  background-color: transparent;
  border-radius: 3px;
  border: solid 1px white;
  color: white;
  padding: 10px 20px;
  transition: all 0.25s ease;

  &.orange-btn {
    border-color: @apigee-orange;
    color: @apigee-orange;

    &:focus {
      border-color: @apigee-orange;
      color: @apigee-orange;
    }
  }

  &:hover {
    color: white;
    background-color: @apigee-orange;
    border: 1px solid transparent;
  }
}

.apigee-select {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 12px;
  padding: 8px 18px;
  font-family: Lato;
}

.modal-body {
  font-family: @primary-font;
}

.orange-text {
  color: @apigee-orange;
}

.footer {
  background-color: #f5f5f6;
}

.footer-copyright {
  margin-top: 0;
}

.foot-spacer {
  height: 100px;
}

.section-container {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #dadada;
  padding: 20px;

  md-input-container {
  width: 100%;
  }
}

.btn-container {
  margin-bottom: 10px;
  position: relative;

  .separator {
  width: 1px;
  height: 18px;
  display: inline-block;
  background-color: #b1b1b1;
  position: relative;
    top: 6px;
  margin-right: 5px;
  margin-left: 5px;
  }

  small {
  font-family: @primary-font;
  font-size: 12px;
  font-weight: 500;
  color: #b1b1b1;
  }

  ts-select {
  position: relative;
  top: 5px;
  }

  md-input-container {
  height: 27px;
  font-size: 12px;
  margin: 0;

  .md-input { height: 23px; }

  &.md-input-has-value, &.md-input-focused {
  label { bottom: 67%; }
  }
  }

  &.md-default-theme .md-placeholder,
  {
  bottom: 100%;
  }

}

md-input-container textarea,
md-input-container input[type="text"],
md-input-container input[type="password"],
md-input-container input[type="datetime"],
md-input-container input[type="datetime-local"],
md-input-container input[type="date"],
md-input-container input[type="month"],
md-input-container input[type="time"],
md-input-container input[type="week"],
md-input-container input[type="number"],
md-input-container input[type="email"],
md-input-container input[type="url"],
md-input-container input[type="search"],
md-input-container input[type="tel"],
md-input-container input[type="color"],
md-input-container.md-default-theme .md-input,
md-input-container .md-input {
  font-family: @secondary-font !important;
  font-size: 13px !important;
  color: #999 !important;
}

.header-input {
  display: inline-block;
  position: relative;
  top: 5px;

  label {
  font-family: @primary-font;
   	text-transform: uppercase;
  font-weight: 500;
   	font-size: 12px;
   	color: white;
  }

  input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255,255,255, 0.7);
  color: white;
  font-family: @primary-font;

  &.typed {
  border-color: @apigee-orange;
  color: @apigee-orange;

  &:focus {
  border-color:  @apigee-orange;
  }
  }

  &:focus {
  box-shadow: none;
  outline: none;
  border-color: white;
  }

  &.number-input {
  text-align: right;
  width: 70px;
  padding-right: 5px;
  }
  }
}

.floated-menu {
  position: absolute;
  background-color: #FFF;
  z-index: 3;
  padding: 0;
  border: 1px solid #b1b1b1;
  left: 13px;
  list-style: none;

  li {
  font-family: @primary-font;
  font-size: 12px;
  color: #b1b1b1;
  cursor: pointer;
  padding: 5px 10px;

  &:hover {
  background-color: #EFEFEF;
  }
  }
}

.navbar .content {
  position: relative;
}

.navbar-right {
  position: absolute;
  top: 0;
  right: 0;
}


.engagementStatus {
  &.engaged { color: #7ed321; }
  &.hot { color: #fc4c02; }
  &.cold { color: #4a90e2; }
  &.med { color: #777; }
}



/** GRID SCROLL **/

.custom-grid-scroll {
  &::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.3);
  background-color: transparent;
  overflow: visible;
  width: 0;
  }

  &::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d9d9d9;
  }
}

.eg-grid-container {
  margin-bottom: 20px;
}

.orange-title {
  margin-top: 0;
  display: flex;

  span {
    text-transform: uppercase;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding-right: 10px;
    color: @apigee-orange;
    line-height: 37px;
  }

  .line-background {
    flex: 1;
    height: inherit;

    background: transparent; /* Old browsers */
    background: -moz-linear-gradient(top, transparent 50%, #d9d9d9 50%, #d9d9d9 52%, transparent 53%);
    background: -webkit-linear-gradient(top, transparent 50%,#d9d9d9 50%,#d9d9d9 52%,transparent 53%);
    background: linear-gradient(to bottom, transparent 50%,#d9d9d9 50%,#d9d9d9 52%,transparent 53%);

  }
}

