@sidebar-width: 200px;
@breakpoint: @grid-float-breakpoint;

.flexed-contents {
	display: flex;

  @media (max-width: @breakpoint) { 
    display: block;

    .grow-content { padding: 0 !important; }

    .left-sidebar {
      width: 100% !important;

      .hamburguer { display: block !important; }
      
      .sidebar-content {
        padding-top: 0 !important;
        width: 100% !important;
        position: relative !important;
        border-right: none !important;
        display: block;
      }
    }
  }

  .grow-content { padding: 0 15px; flex: 1; }

	.left-sidebar {
		width: @sidebar-width;

    .sidebar-content {
      padding-top: 21px;
      height: 100%;
      overflow-y: auto;
      position: fixed;
      width: @sidebar-width;
      background-color: white;
      border-right: 1px solid #CDCECF;

      i { color: black; }
    }

    .sidebar-links {
       display: block;

       @media (max-width: @breakpoint) { 
        & { display: none; }
       }
     }

     h1 {
      font-family: @secondary-font;
      color: black;
      font-weight: bold;
      font-size: 14px;
      padding: 0 20px;
    }

    .hamburguer {
      position: absolute;
      top: 14px;
      right: 20px;
      display: none;
    }

		ul {
			list-style: none;
			padding: 0;

      li {
        font-family: @secondary-font;
        font-size: 13px;

        a {
          display: block;
          width: 100%;
          height: 100%;
          color: #4A494A;
          font-weight: bold;
          font-size: 11px;
          padding: 10px 20px;
          .transition(background-color, 0.5s, ease-out);

          &.back-link {
            &:hover {
              background-color: transparent;
              color: @apigee-orange;
            }
          }

          &:focus { text-decoration: none; }

          &:hover, &.active { 
            background-color: #f5f5f6;
            text-decoration: none;
          }
        }
      }
		}
	}
}