<div class="tsBusy-container" ng-class="{'tsBusy-active':tracker.active()}">
    <div class="tsBusy-overlay">
        <div class="tsBusy-spinner"></div>
    </div>
    <div class="tsBusy-content" ng-transclude></div>
</div>
