<ts-busy tracker='accountPlanTracker'>
    <!--<h3 role='button' class="grid-header" ng-click="collapseTracker[entitlement.id] = !collapseTracker[entitlement.id];">Account Plan: {{account_plan.name}}<span class="pull-right">:</span></h3>-->
    <h3 class="subtitle" ng-click="collapseTracker[entitlement.id] = !collapseTracker[entitlement.id];"
        ng-class="{'underlined': collapseTracker[entitlement.id]}">
        Account Plan
        <span class="pull-right">
            <i class="fa fa-sort-desc" aria-hidden="true" ng-if="!collapseTracker[entitlement.id]"></i>
            <i class="fa fa-sort-asc" aria-hidden="true" ng-if="collapseTracker[entitlement.id]"></i>
        </span>
    </h3>
    <div uib-collapse="collapseTracker[entitlement.id]">
        <div class="section-container">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <md-input-container class="col-100">
                            <label>12 Month Expansion Target</label>
                            <input type="text" ng-model="account_plan.expansion_target">
                        </md-input-container>
                    </div>
                    <div class="col-md-8">
                        <md-input-container class="col-100">
                            <label>Account Plan</label>
                            <textarea name="plan" ng-model="account_plan.plan"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ts-busy>
<ts-busy tracker="accountTracker">
    <div ng-if='!account.product_plan_ids'>
        <h3 ng-if="(account.sales_stage == '6 - Customer')" class="subtitle">No Entitlement Records</h3>
        <h3 ng-if="(account.sales_stage != '6 - Customer')" class="subtitle">Prospect: No Entitlements</h3>
    </div>  
    <div ng-if='account.product_plan_ids' ng-repeat="entitlement in account_entitlements track by entitlement.id">
        <h3 role='button' class="subtitle" ng-click="collapseTracker[entitlement.id] = !collapseTracker[entitlement.id];" ng-class="{'underlined': collapseTracker[entitlement.id]}">
            Entitlement: {{entitlement.product_plan}}
            <span class="pull-right">
                <i class="fa fa-sort-desc" aria-hidden="true" ng-if="!collapseTracker[entitlement.id]"></i>
                <i class="fa fa-sort-asc" aria-hidden="true" ng-if="collapseTracker[entitlement.id]"></i>
            </span>
        </h3>
        <div uib-collapse="collapseTracker[entitlement.id]" class="section-container">
            <table class='table table-striped entitlement-table'>
                <tbody>
                    <tr>
                        <td nowrap>PCI</td>
                        <td>{{entitlement.pci | bool}}</td>
                        <td nowrap>Service Availability SLA</td>
                        <td>{{entitlement.sla_service_target | number}}%
                    </tr>
                    <tr>
                        <td nowrap>HIPAA</td>
                        <td>{{entitlement.hipaa | bool}}</td>
                        <td nowrap>API Calls per Term</td>
                        <td>{{entitlement.api_calls_per_term | number}}
                    </tr>
                    <tr>
                        <td nowrap>Product Addons</td>
                        <td>{{entitlement.product_addons}}</td>
                        <td nowrap>Orgs + Envs Limit</td>
                        <td>{{entitlement.orgs_envs_limit}}
                    </tr>
                    <tr>
                        <td nowrap>Analytics Capabilities</td>
                        <td>{{entitlement.analytics_capabilities}}</td>
                        <td nowrap>Proxy # Limit</td>
                        <td>{{entitlement.proxy_limit | number}}
                    </tr>
                    <tr>
                        <td nowrap>Analytics Data Retention</td>
                        <td>{{entitlement.analytics_data_retention}}</td>
                        <td nowrap>RPS # Limit</td>
                        <td>{{entitlement.rps_limit | number}}
                    </tr>
                    <tr>
                        <td nowrap>Analytics Concurrency</td>
                        <td>{{entitlement.analytics_concurrency}}</td>
                        <td nowrap>Number of Regions</td>
                        <td>{{entitlement.number_of_regions | number}}
                    </tr>
                    <tr>
                        <td nowrap>Runtime Data Capabilities</td>
                        <td>{{entitlement.runtime_data_capabilities}}</td>
                        <td nowrap>Legacy MP Limit</td>
                        <td>{{entitlement.legacy_mp_limit | number}}
                    </tr>
                    <tr>
                        <td nowrap>Runtime Data Retention</td>
                        <td>{{entitlement.runtime_data_retention}}</td>
                        <td nowrap>Number of Dev Portals</td>
                        <td>{{entitlement.number_of_dev_portals | number}}
                    </tr>
                    <tr>
                        <td nowrap>Support Feature Exceptions</td>
                        <td>{{entitlement.support_feature_exceptions}}</td>
                        <td nowrap>Product Feature Exceptions</td>
                        <td>{{entitlement.product_feature_exceptions}}
                    </tr>
                    <tr ng-repeat="priority in ['P1', 'P2', 'P3', 'P4']">
                        <td nowrap>{{priority}} Response Goal</td>
                        <td>{{entitlement[priority.toLowerCase()+'_response_goal'] | sla_target }}</td>
                        <td nowrap>{{priority}} Resolution Goal</td>
                        <td>{{entitlement[priority.toLowerCase()+'_resolution_goal'] | sla_target}}</td>
                    </tr>
                    <tr>
                        <td nowrap> </td>
                        <td> </td>
                        <td nowrap>Service Request Goal</td>
                        <td>{{entitlement.service_request_goal | sla_target}}
                    </tr>
                    <tr>
                        <td nowrap>Collaborative Chatroom</td>
                        <td>{{entitlement.collaborative_chatroom | bool}}</td>
                        <td nowrap>Support Escalation</td>
                        <td>{{entitlement.support_escalation | bool}}
                    </tr>
                    <tr>
                        <td nowrap>Support Portal Access</td>
                        <td>{{entitlement.support_portal_access | bool}}</td>
                        <td nowrap>LiveChat Access</td>
                        <td>{{entitlement.livechat_access | bool}}
                    </tr>
                    <tr>
                        <td nowrap>Phone Support</td>
                        <td>{{entitlement.phone_support | bool}}</td>
                        <td nowrap>Community Support Access</td>
                        <td>{{entitlement.community_support_access | bool}}
                    </tr>
                    <tr>
                        <td nowrap>Quarterly Review</td>
                        <td>{{entitlement.quarterly_review | bool}}</td>
                        <td nowrap>Named TSS</td>
                        <td>{{entitlement.named_tss | bool}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ts-busy>
