.collapsePnl {
  position: relative;
  top: 5px;
  float: right;
  margin-left: 8px;

  &.absoluted {
    position: absolute;
    top: -21px;
    right: 0;
  }

  #tsc-filters, #tsc-columns, #tsc-export {
    font-family: @secondary-font;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;

    i { margin-left: 2px; }
  }

  .collapseBtn {
    background-color: #F5F5F6;
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;

    i.fa-angle-double-up {
      position: relative;
      top: -2px;
    }
  }
}

.ts-collapse {
  transition: all 0.2s; 

  &.small-header {
    background-color: transparent;
    padding: 0;
    padding-top: 11px;
    position: relative;
    top: 4px;

    h1 {
      font-family: @secondary-font;
      text-transform: uppercase;
      color: #999;
      font-weight: 600;
      font-size: 12px;
      padding-left: 29px;
    }
  }
}

.compact-filters {
  position: absolute;
  min-width: 300px;
  z-index: 5;
  background-color: white;
  border: solid 1px #d9d9d9;
  padding: 10px;
  padding-top: 0;
  right: -2px;

  models, ts-select { display: block; }
}

.displayImportant.ng-hide:not(.ng-hide-animate) { 
  display: block !important; 
}

#columns-menu {
	&.minimized { 
    height: 0; 

    & #grid-columns-dropdown {
      left: -133px;
      top: -5px;
    }
  }
}