@ttime: 0.2s;

.invisible-transition(@time) {
  opacity: 0;
  transition: all @time ease;
}

line-chart {
  > svg, .line-chart-tooltips {
    margin: 0 auto;
  }

  .line-chart-tooltips {
    max-width: 600px;
    width: 100%;
  }
}

bar-chart, h-bar-chart, line-chart {
  @text-color: @content-sec-text;

  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  flex-flow: wrap;
  width: 100%;

  .chart {
    rect, rect text, line, .title-text, .subtitle-text, .prev-text {
      transition: all 0.5s ease;
    }

    &.disabled {
      rect, rect text, line, .title-text, .subtitle-text, .prev-text, .current-text {
        fill-opacity: 0.5;
        stroke-opacity: 0.5;
      }
    }

    text {
      font-family: Roboto;
      font-size: 10px;
      font-weight: 500;
      fill: @text-color;

      &.current-text { 
        fill: white; 

        &.grey-text {
          fill: @content-sec-text;
        }
      }

      &.title-text {
        font-family: Lato;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        fill: #1e2229;
        text-transform: uppercase;
      }

      &.goal-tooltip-title {
        fill: white;
        font-size: 10px;
        .invisible-transition(@ttime);
      }

      &.goal-tooltip-text {
        fill: white;
        .invisible-transition(@ttime);
      }
    }

    &.axis {
      overflow: visible;
      margin-left: 34px;
    }
  }

  .axis {
    line, path {
      stroke: #b1b1b1;
      fill: transparent;
    }
  }

  .tick {
    text {
      fill: #b1b1b1;
    }
  }
}

bar-chart, h-bar-chart {
  &.scrollable-chart {
    width: auto;
    flex-flow: row;
  }

  .prev {
    fill: #d9d9d9;

    &.grey {
      fill: #D7D7D7;
    }
  }

  .current {
    fill: @charts-blue;

    &.grey {
      fill: #D7D7D7;
    }
  }

  &.capitalized-labels {
    text.title-text {
      text-transform: capitalize;
    }
  }

  line.goal{
    stroke: @apigee-orange;
    stroke-width: 2;
  }

  .goal-tooltip {
    fill: @apigee-orange;
    .invisible-transition(@ttime);
  }

  & svg {
    overflow: visible !important;

    &:hover {
      .goal-tooltip, .goal-tooltip-text, .goal-tooltip-title, .hidden-text  {
        opacity: 1;
      }
    }
  }

  line.hidden {
    display: none !important;
  }

  text.hidden-text {
    opacity: 0;
    .invisible-transition(@ttime);
  }

  .blue-chart {
    .prev {
      fill: #99e1ef;
    }

    text {
      &.prev-text, &.current-text { 
        fill: @text-color; 
      }
    }
  }

  .axis {
    line, path {
      stroke: #b1b1b1;
    }
  }
}

h-bar-chart {
  margin-bottom: 15px; 
  svg {
    width: 100%;
    margin-bottom: 15px;
  }
}

.chart-labels {
  position: absolute;
  top: 30px;
  right: 37px;
  font-family: Roboto, 'sans-serif';
  font-weight: 500;
  font-size: 12px;

  .chart-label {
    margin-left: 25px;
    &:before {
      border-bottom: 2px solid #000;
      content: '';
      display: inline-block;
      position: relative;
      right: 5px;
      top: -3px;
      width: 25px;
    }
  }

  .label--prior-year {
    color: #fc4c02;
    &:before {
      border-color: #fc4c02;
    }
  }

  .label--current-year {
    color: @charts-blue;
    &:before {
      border-color: @charts-blue;
    }
  }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
