.dropdown-menu {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px @border-color;

  li {
    .base-content-text;
    cursor: pointer;
    font-size: 12px;
    padding: 10px;
    font-weight: 600;

    &:hover {
      background-color: #f3f3f3;
    }
  }
}