.grid-card.engage {
  padding: 0;
  padding-bottom: 6px;
}

.grid-card-container .grid-card {
  div {
    &.bubble { height: 12px; }
    &.bubble-inner { height: 8px; }
    &.tall-row { height: 50px; }
  }
}

.engage-card {
  font-family: @secondary-font;

  .dual-col {
    margin-bottom: 5px;
  }

  .ui-grid-cell-contents {
    margin-top: 4px;
  }

  .sales-stage {
    position: relative;
    top: 21px;

    span {
      font-size: 9px;
      position: relative;
      top: -23px;
    }
  }

  label {
    font-size: 11px;
    font-family: @secondary-font;
  }

  .green-title {
    font-family: @primary-font;
    height: 47px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background-color: #3dd0ac;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);

    .ui-grid-cell-contents {
      color: white;
      line-height: 31px;
      font-size: 13px !important;
      font-weight: bold;
    }

    .opp_name {
      .ui-grid-cell-contents {
        color: #0e735a;
        font-weight: normal;
        font-size: 12px !important;
      }
    }
  }

  .over-text {
    position: absolute;
    top: 14px;
    left: 28px;

    &.none {
      left: 11px;
    }
  }

  .large-icon:before {
    left: 2px;
  }

  .amount {
     .ui-grid-cell-contents {
      width: auto;
      color: @apigee-orange;
      font-size: 25px !important;
      font-family: @primary-font;
      position: relative;
      top: 4px;
    }
  }
}