.panel {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  height: 100%;
  overflow: hidden;
  border-radius: 3px;
  display: flex;
  flex-direction:column;

  .no-info {
    font-family: @primary-font;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #d9d9d9;
  }

  &.numbers-panel {
    min-height: 385px;

    &.large {
      min-height: 437px;

      .no-info {
        margin-top: 214px;
      }
    }
  }

  &.chart-panel, .chart-panel {
    padding-bottom: 30px;

    &.large-chart {
      min-height: 410px;

      .no-info { margin-top: 127px; }
      .tsBusy-spinner { top: 250px; }
    }

    &.mid-chart {
      min-height: 374px;

      .no-info { margin-top: 118px; }
      .tsBusy-spinner { top: 220px; }
    }
  }

  &.events-panel {
    min-height: 298px;

    .no-info { margin-top: 77px; }
  }

  &.events-panel-large {
    min-height: 437px;

    .no-info { margin-top: 142px; }
  }

  &.key-panels {
    li {
      //white-space: nowrap;
    }
  }

  .panel-content {
    overflow: auto;
    height: 100%;

    &.event-panel {
      min-height: 310px;
      max-height: 310px;
    }
  }

  .panel-title {
    color: @content-text;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: bold;
    padding: 30px 30px 20px;

    .panel-title-green {
      color: #3dd0ac;
    }

    .panel-title-red {
      color: #d0021b;
    }

    .statechange {
      top: 0;
    }

    small {
      color: #999;
      font-size: 15px;
    }
  }

  .panel-subtitle {
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    color: @content-sec-text;
    font-weight: 400;
    max-width: 150px;
    margin: auto;
    min-height: 60px;
  }

  .panel-main-number {
    font-family: Lato;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: @content-text;
    padding: 55px 34px 25px 34px;

    span {
      font-size: 30px;
      display: block;
      font-weight: normal;
    }
  }

  .panel-foot-notice {
    font-weight: 400;
    font-family: Roboto;
    font-size: 15px;
    text-align: center;
    color: @content-text;
    padding: 50px 0;
  }

  .panel-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      // margin-bottom: 20px;
      padding: 0 30px 20px;

      &.placeholder-li {
        font-family: @primary-font;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #d9d9d9;
      }
    }

    .title-link {
      .base-heading-title;
      font-size: 14px;
      width: 100%;
      display: inline-block;
      margin-bottom: 10px;
    }

    strong {
      color: @content-text;
      display: inline-block;
      font-family: 'Lato';
      font-size: 13px;
      font-weight: bold;
      width: 65%;

      @media @desktop {
        // width: 70%;
      }
    }

    span {
      .base-content-text;
    }

    &.panel-list--flat {
      strong {
        display: block;
        margin-bottom: 8px;
        width: 100%;
      }
    }
  }

  .top-labels {
    display: inline-block;
    position: absolute;
    right: 45px;
    top: 36px;
  }

  .goal-label {
    display: inline;
    font-family: @primary-font;
    font-weight: 500;
    text-transform: uppercase;
    color: @titles-orange;
    margin-left: 15px;

    &:before {
      content: " ";
      width: 23px;
      border-bottom: 3px dotted @titles-orange;
      display: inline-block;
      position: relative;
      top: -3px;
      right: 5px;
    }
  }

  .chart-top-label {
    display: inline;
    font-family: @primary-font;
    font-weight: 500;
    text-transform: uppercase;
    color: @content-sec-text;
    margin-left: 10px;

    &:before {
      content: " ";
      width: 10px;
      height: 10px;
      display: inline-block;
      background-color: @content-sec-text;
      margin-right: 3px;
      position: relative;
      top: 1px;
    }

    &.blue {
      &:before { background-color: @charts-blue; }
    }

    &.grey {
      &:before { background-color: #d9d9d9; }
    }
  }

  .panel-table {
    margin-bottom: 10px;
    table-layout: auto;
    width: 100%;

    th, td {
      padding: 15px 30px 10px;

      &.short-cell {
        white-space: nowrap;
        padding-left: 6px;
        padding-right: 6px;
      }
    }

    thead {
      th {
        .base-heading-title;
        white-space: nowrap;

        &.short-cell {
          white-space: normal;
        }

        &.large-th {
          font-size: 20px;
        }
      }
    }

    tbody {
      td {
        .base-content-text;

        &.date-td { min-width: 141px; }

        &.ellipsis-td {
          max-width: 183px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }


      tr {
        border-bottom: 1px solid #d9d9d9;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          td {
            color: @charts-blue;
          }
        }

        &.placeholder-tr {
          border-bottom: none;

          td {
            .no-info;
          }
        }
      }
    }
  }
}

.flexible-panels {
  display: flex;
  margin-bottom: 21px;

  .flex-item {
    flex: 1;

    .panel {
      margin-bottom: 0;
    }
  }
}
