<div class="btn-group pull-right  q-select" uib-dropdown dropdown-append-to-body>
    <button id="btn-regions" type="button" class="btn apigee-btn orange-btn dropdown-toggle" 
    uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"> 
      vs. {{$ctrl.getSelected().name}}
    <span class="caret"></span> 
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-regions">
    <li role="menuitem" ng-repeat="q in $ctrl.quarters" ng-click="$ctrl.setSelected(q.val)">{{q.name}}</li>
  </ul>
</div>