<div ng-if="tsAuth.signedIn()">
    <div class="dropdown" uib-dropdown>
        <button class="btn btn-link navbar-btn" type="button" id="tsAuthDropdown" uib-dropdown-toggle>
            <ts-avatar email="{{ tsAuth.user.email }}" class="pull-left img-circle"></ts-avatar>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="tsAuthDropdown">
            <!--<li role="presentation">
                <a role="menuitem" tabindex="-1" href='' ng-click="tsAuth.copyToken()">Copy Token</a>
            </li>-->
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="" ng-click="tsAuth.signOut()">Logout</a>
            </li>
        </ul>
    </div>
</div>