<table class="{{marketing.class}}">
  <thead>
    <tr>
      <th>Contact name</th>
      <th>Title</th>
      <th>Marketing Interactions</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in marketing.info">
      <td>{{item.contact_name | htmldecode}}</td>
      <td>{{item.title | htmldecode}}</td>
      <td>
        <p>
          {{item.marketing_interaction | htmldecode}}
        </p>
      </td>
      <td class="date-td">
        {{item.date | date}}
      </td>
    </tr>
    <tr class="placeholder-tr">
      <td colspan="4">
        No more information to show
      </td>
    </tr>
  </tbody>
</table>