<div class="account-login-authorize col-md-4 row" >
    <div class="login-msg">
        <div class="page-header login">
            <h2>Welcome to <span class="apigee-logo"><span>Api</span>gee</span> Horizon</h2>
        </div>
        <p>
            Apigee Horizon is your one stop shop for Customer Journey information. 
        </p>
        <p>
            Get details on how prospects are engaging with the trial product and marketing, 
            live customer interactions with their product and Apigee, 
            and track progress against expansion goals.
        </p>
        <a class="btn btn-primary btn-lg loginBtn" href='{{loginUrl}}'>
            Sign in to Apigee Horizon
        </a>
    </div>
</div>