.percentage-bar {
  .generate-sizes(@n, @i: 1) when (@i =< @n) {
    &-@{i} {
      width: (@i * 100% / @n);
      position: relative;
    }
    .generate-sizes(@n, (@i + 1));
  }

  position: relative;
  height: 20px;
  border-radius: 20px;
  border: solid 1px #2aad8d;
  background-color: transparent;
  padding: 2px;

  span {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
    font-size: 9px;
    line-height: 20px;
    height: 100%;
    top: 0px;

    b { 
      font-style: normal;
      color: white;
      font-weight: bold; 
    }
  }

  .pb-inner {
    height: 100%;
    border-radius: 20px;
    background-color: #2aad8d;
    .generate-sizes(20, 0);
  }
}