<div ng-if="type == 'percentage'" class="percentage-bar">
  <span><b>{{percentage}}</b> of 100</span>
  <div class="pb-inner pb-inner-{{percentage/5}}"></div>
</div>

<div ng-if="type == 'steps'" class="stage">
  <div class="bubble" ng-repeat="i in array">
    <div class="bubble-inner" ng-if="$index == (value-1)"></div>
  </div>
</div>
