<div id="kanban-header">
    <div class="page-header ts-collapse">
        <div class="content">
            <h1>CS Quarterly Kanban View</h1>
            <div class="btn-container" ts-collapsable tsc-on="Show filters" tsc-off="Hide filters">
                <div class="filters-container">
                    <ts-select model="filters.selectedProbability" data="filters.probabilities" offset="10">Probability Greater Than</ts-select>
                    <ts-select model="filters.selectedOpportunitytype" data="filters.opportunitytypes" display="displayName" offset="10">Opportunity Type</ts-select>
                    <div class="header-input">
                        <label>LARGER THAN: </label>
                        <input class="number-input" ts-autogrow ng-class="{typed: !!filters.selectedAmount}" ng-model="filters.selectedAmount" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="kanban-list">
    <ts-busy tracker="opportunitiesTracker">
        <div class="content">
            <table id="kanban-table" class='table table-responsive' border='1' width='100%'>
                <thead>
                    <tr valign='top'>
                        <th width="10%" nowrap>
                            <h3>Opportunity Type</h3>
                        </th>
                        <th ng-repeat="quarter in quarters">
                            <h3 ng-bind-html="'FY' + quarter | quarterFilter">{</span>
                            </h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr valign='top' ng-repeat="(opportunity_type, opps) in opportunities">
                        <td align='left' class="no-border-right">
                            <h4>{{opportunity_type}}</h4>
                        </td>
                        <td ng-class="{'no-border-left': $index==0}" width="22%" align='center' ng-repeat="quarter in quarters">

                            <!--<ul dnd-list="opps[quarter]" class="kanban-ul">
                                <li class="" ng-repeat="opportunity in opps[quarter]"
                                    dnd-draggable="opportunity"
                                    dnd-moved="kanban.dndMoved($index, quarter, opportunity_type, event)"
                                    dnd-effect-allowed="all"
                                    ng-class="{'selected': kanban.models.selected.id === opportunity.id}">-->
                            <ul class="kanban-ul">
                                <li class="" ng-repeat="opportunity in opps[quarter]">
                                    <div class="kanban-list-item" uib-popover-template="'kanbanPopoverTemplate.html'" popover-class='kanban' popover-append-to-body="false"
                                        popover-trigger="'outsideClick'" popover-placement='auto right-top'>
                                        <div class="kanban-list-logo-container">
                                            <div class="kl-overlay">
                                                <span>Details</span>
                                            </div>
                                            <img class='kanban-list-logo' ng-src="{{opportunity.account_logo}}" />
                                            <div class="kanban-list-content">
                                                <div class="badges-row">
                                                    <kanban-badge ng-if="(opportunity.percent_of_users>0.1)" color="orange" title="User Entitlement" description="{{opportunity.distinct_user_count}} of {{opportunity.entitled_users}} Users"></kanban-badge>
                                                    <kanban-badge ng-if="(opportunity.pro_rated_percent_of_entitlement > .75)" color="red" title="Traffic Entitlement" description="{{(opportunity.pro_rated_percent_of_entitlement * 100) | number : 2}}% of {{opportunity.term}} Entitlement (Prorated)"></kanban-badge>
                                                </div>
                                                <label>{{opportunity.approx_amount}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ts-busy>
</div>

<script type="text/ng-template" id="kanbanPopoverTemplate.html">
    <div class="kbp">
        <div class="kbp-heading">
            <div class="col-md-5">
                <h4><a href='#!/customers/{{opportunity.account_id}}/overview'>{{opportunity.opportunity_name}}</a></h4>
            </div>
            <div class="col-md-7">
                <span class="pull-right">Probability: <b>{{opportunity.probability}}</b>%</span>
            </div>
        </div>
        <div class="kbp-content">
            <div class="kbp-content-50">
                <label>Stage:</label>
                <ts-percentage type="steps" total="7" value="{{opportunity.stage}}"></ts-percentage>
                <span>{{opportunity.sales_stage}}</span>
            </div>
            <div class="kbp-content-50 right">
                <label>Amount:</label>
                <span class="number-tag">${{opportunity.approx_amount}}</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="kbp-content scrollable">
            <ul>
                <li ng-repeat="ns in opportunity.next_steps">
                    {{ns}}
                </li>
            </ul>
        </div>
    </div>
</script>