.statechange {
  @green: #3dd0ac;
  @grey: #D8D8D8;
  @red: #d0021b;
  @square-size: 14px;
  @font-size: 9px;

  width:@square-size;
  height:@square-size;
  position: relative;
  color: white;
  font-size: @font-size;
  text-align: center;
  top: 3px;
  margin-right: 3px;

  &:before {
    position: absolute;
    height:@square-size;
    width:@square-size;
    line-height:@square-size;
    left: 0;
    top: 0;
  }

  &.equals {
    background-color: @grey;

    &:before {
      content: '=';
      font-size: 13px;
      font-weight: 500;
      font-family: Roboto;
    }
  }

  &.fa-arrow-up {
    background-color: @green;
  }

  &.fa-arrow-down {
    background-color: @red;
  }
}

.ui-grid-cell {
  .statechange {
    
  }
}