<div class="sidenav" ng-if="!tsAuth.isSupportUser()">
  <ul class="nav" role="tablist">
    <li ui-sref-active="active" ng-repeat="navText in getNavText() track by $index">
    	<a ui-sref="{{getNavLink(navText)}}">{{navText}}</a>
   	</li>    
  </ul>
</div>