ts-entitlementstatus {
  display: inline-block;

  > div {
    @size: unit(@line-height-base, em);

    position: relative;

    width: @size;
    height: @size;
    border: solid 2px;
    border-radius: (@size / 2);
    line-height: 1;

    // hide inner status text
    span {
      display: none;
    }

    &:before {
      .absolute-center;

      height: 1em;
      text-align: center;

      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      font-size: floor((@font-size-base * 0.75)); // ~10px
    }

    // default
    color: @gray-lighter;
    border-color: @gray-lighter;

    transition: color 0.15s linear, border-color 0.15s linear;
  }
}


.tsEntitlementstatus-ok {
  color: @brand-success;
  border-color: @brand-success;

  &:before { content: "\e013"; } // .glyphicon-ok
}

.tsEntitlementstatus-warning {
  color: @brand-warning;
  border-color: @brand-warning;

  &:before { content: "\e107"; } // .glyphicon-warning-sign
}

.tsEntitlementstatus-danger {
  color: @brand-danger;
  border-color: @brand-danger;

  &:before { content: "\e014"; } // .glyphicon-remove
}
